<header class="bg-gradient" id="home" >
  <div class="container" *ngIf="!auth.isAuthenticated()">
      <h1 >TRUNG TÂM VTC MIỀN NAM</h1>
      <p class="tagline">Đài Truyền hình Kỹ thuật số VTC - thuộc Đài tiếng nói Việt Nam (VOV) </p>
  </div>
  <!-- Casural : Hinh truot  -->
  <div class="section" *ngIf="!auth.isAuthenticated()">
      <div class="container">
        <div class="img-gallery owl-carousel owl-theme">
            <img src="./assets/images/thumbnail/vtc1_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc2_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc3_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc4_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc5_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc6_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc7_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc8_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc9_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc10_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc11_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc13_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc14_thumbnail.jpg" alt="image">
            <img src="./assets/images/thumbnail/vtc16_thumbnail.jpg" alt="image">
          </div>
      </div>
  </div>
</header>

<div class="light-bg py-5" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <p class="mb-2"> <span class="ti ti-location-pin mr-2"></span> Tầng 5, 79 Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM</p>
                <div class=" d-block d-sm-inline-block">
                    <p class="mb-2">
                        <span class="ti ti-email mr-2"></span> <a class="mr-4" href="mailto:mail@vtc.gov.vn">mail@vtc.gov.vn</a>
                    </p>
                </div>
                <div class="d-block d-sm-inline-block">
                    <p class="mb-0">
                        <span class="ti ti-headphone-alt mr-2"></span> <a href="tel:+842844565684">+8428-44-5656-84</a>
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="social-icons">
                    <a href="#"><span class="ti ti-facebook"></span></a>
                    <a href="#"><span class="ti ti-twitter-alt"></span></a>
                    <a href="#"><span class="ti ti-instagram"></span></a>
                </div>
            </div>
        </div>

    </div>

</div>



<footer class="my-5 text-center">
    <!-- Copyright removal is not prohibited! -->
    <p class="mb-2"><small>COPYRIGHT © 2018. ALL RIGHTS RESERVED.</small></p>

    <small>
        <a href="#" class="m-2">PRESS</a>
        <a href="#" class="m-2">TERMS</a>
        <a href="#" class="m-2">PRIVACY</a>
    </small>
</footer>


