<div class="d-flex flex-column flex-lg-row">
  <div class="w-100">
      <h2>Lịch sản xuất</h2>
      <div class="container">
        <div class="row">
          <div class="col-10" >
            <pagination-controls *ngIf="infos.length>0" id="tab01" class="float-right" (pageChange)="p=$event"></pagination-controls>
          </div>
          <div class="col-2" *ngIf="auth.isAuthMod() && auth.isTrungtam()">
            <div class="row mb-2" *ngIf="!addTab01 && !editTab01 && !delTab01" >
              <div class="col-md-4"><a class="clickable btn-sm btn-success btn-outline-success px-3 ti ti-plus" (click)="AddButtonTab01()"></a></div>
              <div class="col-md-4"><a class="clickable btn-sm btn-warning btn-outline-warning px-3 ti ti-pencil-alt"  *ngFor="let info of infos | paginate: {id:'tab01',itemsPerPage:1, currentPage:p};" (click)="EditButtonTab01(info.content)"></a></div>
              <div class="col-md-4"><a class="clickable btn-sm btn-danger btn-outline-danger px-3 ti ti-trash" *ngFor="let info of infos | paginate: {id:'tab01',itemsPerPage:1, currentPage:p};"  (click)="DelButtonTab01()"></a></div>
            </div>
            <div class="row mb-2" *ngIf="addTab01 || editTab01 || delTab01">
              <div *ngIf ="addTab01" class="col-md-6"><button class="clickable btn btn-sm btn-success btn-outline-success ti ti-save" (click)="Add()"></button></div>
              <div *ngIf ="editTab01" class="col-md-6"><button class="clickable btn btn-sm btn-success btn-outline-success ti ti-save"  *ngFor="let info of infos | paginate: {id:'tab01',itemsPerPage:1, currentPage:p};" (click)="Edit(info._id)"></button></div>
              <div *ngIf ="delTab01" class="col-md-6"><button class="clickable btn btn-sm btn-success btn-outline-success ti ti-check"  *ngFor="let info of infos | paginate: {id:'tab01',itemsPerPage:1, currentPage:p};" (click)="Del(info._id)"></button></div>
              <div class="col-md-6"><button class="clickable btn btn-sm btn-danger btn-outline-danger ti ti-close" (click)="Cancel()"></button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card example-sroll scrollbar-ripe-malinka">
        <div class="card-body">
          <div *ngFor="let info of infos | paginate: {id:'tab01',itemsPerPage:1, currentPage:p}">
            <p *ngIf="!addTab01 && !editTab01" [innerHTML]="info.content | sanitizeHtml"></p>
          </div>
          <ck-editor *ngIf="addTab01 || editTab01" name="editor1" [(ngModel)]="editorTab01" skin="moono-lisa" language="en" [fullPage]="false" ></ck-editor>
        </div>
      </div>
  </div>
</div>

