<!-- Thong tin tab -->
<div class="section light-bg" id="infomation">
    <div class="container">
        <div class="section-title">
            <small>- THÔNG TIN -</small>
            <h3>THÔNG BÁO CÁC HOẠT ĐỘNG GẦN NHẤT</h3>
        </div>

        <!-- <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#Tab01">Lịch sản xuất</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Tab02">Thông tin chung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Tab03">Thông tin phòng ban</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Tab04">Hoạt động</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Tab01">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Lịch sản xuất</h2>
                        <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                        <div class="card example-sroll scrollbar-ripe-malinka">
                          <div class="card-body">
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Tab02">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Thông tin chung</h2>
                        <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                        <div class="card example-sroll scrollbar-ripe-malinka">
                          <div class="card-body">
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                          </div>
                        </div>
                    </div>
                    <img src="../../../assets/images/graphicvtc.png" alt="graphicvtc" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                </div>
            </div>
            <div class="tab-pane fade" id="Tab03">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Thông tin phòng ban</h2>
                        <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                        <div class="card example-sroll scrollbar-ripe-malinka">
                          <div class="card-body">
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Tab04">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Hoạt động</h2>
                        <p class="lead">Uniquely underwhelm premium outsourcing with proactive leadership skills. </p>
                        <div class="card example-sroll scrollbar-ripe-malinka">
                          <div class="card-body">
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                            <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                              qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                              mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                              qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                              Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                          </div>
                        </div>
                    </div>
                    <img src="../../../assets/images/graphicvtc.png" alt="graphicvtc" class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
                </div>
            </div>
        </div> -->

        <vtc-info></vtc-info>
    </div>
</div>
<!-- // end Thong tin tab.section -->

<!-- Hoi và Tra loi tab -->
<div class="section pt-6" id="anq">
    <div class="container">
        <div class="section-title mb-2">
            <small>- HỎI VÀ ĐÁP -</small>
            <h3>CÁC THÔNG TIN CẦN HỎI</h3>
        </div>
        <vtc-anq></vtc-anq>
    </div>
</div>
<!-- // end .section -->
